/* tablero 8×8 */
.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows:    repeat(8, 1fr);
  width: 80vmin;
  max-width: 700px;
  min-width: 320px;
  aspect-ratio: 1 / 1;
  border-radius: .5rem;
  overflow: hidden;
}

/* Celdas del tablero*/
.square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light { background: #e3e3e3; }
.dark  { background: #2b2b2b; }

/* Piezas del tablero */
.piece {
  height: 80%;
  width: 80%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}