.board-wrap{
  padding:1rem;
  border:5px solid rgba(0, 0, 0, 0.663);
  border-radius:.8rem;
  background:rgba(255,255,255,0.10);    
  backdrop-filter:blur(8px) saturate(150%);
  -webkit-backdrop-filter:blur(8px) saturate(150%);
  box-shadow:0 4px 20px rgba(0,0,0,0.35);

  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  z-index:10;
}

/* Tablero */
.board {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows:    repeat(8, minmax(0, 1fr));
  width: 86vmin;
  aspect-ratio: 1 / 1;
  border:5px solid rgba(0, 0, 0, 0.663);
  border-radius:.5rem;
  overflow: hidden;
  z-index:11;

  /*
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(8px) saturate(150%);
  -webkit-backdrop-filter:blur(8px) saturate(150%);
  box-shadow:0 4px 20px rgba(0,0,0,0.35);
  */
}

/* Celdas tablero */
.square {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;

}

/* Color celdas tablero */
.light { background: #e3e3e3; }
.dark  { background: #2b2b2b; }

/* Fondo de la casilla seleccionada */
.selected {
  background: #4d0404
}

/* Piezas del tablero */
.piece {
  height: 80%;
  width: auto;
  object-fit: contain;
  user-select: none;
}

.square.legal::after{
  content:"";
  position:absolute;
  inset:30%;
  background:rgba(0, 190, 0, 0.5);
  border-radius:100%;
  pointer-events:none;
}