/* Envoltorio principal de la aplicación */
.wrapper {
  display: grid;
  /*                          panel izq     tablero    panel der   */
  grid-template-columns: minmax(240px, 320px) 1fr minmax(240px, 320px);
  gap: 2rem;
  height: 100vh;
  justify-items: center;
  align-items: center;
  background: var(--bg-main);
  padding: 1rem 5rem;
}

/* Panel lateral reutilizable */
.panel {
  background: var(--panel-bg-dark);
  border-radius: .5rem;
  width: 100%;
  height: 80vmin;           
  max-height: 700px;       
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 1rem;
  color: var(--text-main);
}
